.divClass h1{
    color: #753be0;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}

#thirDiv {
    width: 500px;
    height: 600px;
    background-color: #3bbfe0;
    padding: 50px;
    border: 1px solid black;
}

#thirdDiv img{
    width: 400px;
}
